*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(-45deg, #303dc9, #1727ba, #235bd5, #145d9a);
    font-family: sans-serif;
    color: white;

    animation: animate 15s ease infinite;
}

.location,
.temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature {
    flex-direction: column;
    font-size: 20px;
}

.degree-section {
    display: flex;
    align-items: center;
}

.degree-section span {
    margin: 10px;
    font-size: 30px;

}

.degree-section h2 {
    font-size: 40px;
    font-weight: 30;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
